@model test_1_WebApplication.Models.CarEvent

<h1>@Model.Name</h1>
<p>Date: @Model.Date.ToShortDateString()</p>
<p>Location: @Model.Location</p>
<p>Description: @Model.Description</p>
<a asp-controller="CarEvent" asp-action="Index">Back to Events</a>
